@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	outline:none;
}
html{
	width:100%;
	height:100%;
}
body{
	height:100%;
	width:100%;
}
html > body {
     height: 100%;
}
a{
	text-decoration:none;
}
h1,h2,h3,h4,h5,a,p,div,th,td,input,button{
	font-family:Myriad Pro;
}
input[type="submit"],button{
	cursor:pointer;
}
img{
	border:none;
}
#wrapper{
	width:100%;
}

.clearfix {
 overflow: hidden;
 clear:both;
}

.clearfix:after {
 content: "";
 display: block;
 clear: both;
 overflow: hidden;
}

/*\*/
* html .clearfix {
 height: 1em;
 overflow: visible;
}
/*======================FONT==============================*/
@font-face
{
	font-family:din;
	src: url('font/din-1451-mittelschrift-lt.eot');
	src: url('font/din-1451-mittelschrift-lt.ttf');	
}
/*======================FONT==============================*/
/*======================HEADER==============================*/
#header{
	height:139px;
	width:100%;
	background:url(images/bg-header.png) no-repeat center ;
	background-color:#ffffff;
}
#header-inner{
	margin:0 auto;
	height:139px;
	width:1065px;
}
#logo{
	float:left;
	width:246px;
	height:65px;
	margin:30px 0 0 5px;
}
/*Search---------------------*/
#search-form{
	float:left;
	margin:45px 0 0 22px;
	width:259px;
	height:30px;
	background:url(images/search-bar.png) no-repeat;
}
.search-bar{
	float:left;
	width:215px;
	height:22px;
	border:none;
	margin-left:10px;
	margin-top:5px;
	padding-left:5px;
	font-size:10pt;
	color:#c5c5c5;	
}
.btn-search{
	float:left;
	height:22px;
	width:22px;
	margin-top:7px;
	border:none;
	cursor:pointer;
	background:url(images/search-btn.png) center no-repeat;
}
/*Login---------------------*/
#login{
	float:left;
	margin-top:54px;
	margin-left:155px;
	color:#636363;
	font-size:11pt;
}
#login p{
	float:left;
	font-size:11pt;
	color:#636363;
	margin-right:14px;
}
#login a{
	color:#636363;
	text-decoration:none;
	font-size:11pt;
}
#login a:hover{
	text-decoration:underline;
}
/*Shopping cart------------------*/
#cart{
	float:left;
	width:205px;
	height:47px;
	margin:30px 0 0 23px;
	cursor:pointer;
	background:url(images/cart.png) no-repeat;
}
#cart p{
	margin:22px 0 0  40px;
	font-size:11pt;
	color:#FFFFFF;
}
/*Main-Menu-----------------------*/

#main-menu {
	float:right;
	margin-top:32px;
	margin-right:10px;
	list-style:none;
}
#main-menu li{
	float:left;
	margin-left:21px;
}
#main-menu li:first-child{
	margin-left:0;
}
#main-menu li a{
	color:#006bf0;
	font-size:11pt;
}
#main-menu li a:hover{
	text-decoration:underline;
}
/*======================END-HEADER==============================*/
/*======================SLIDER==================================*/
#slider{
	width:100%;
	border-top:1px solid #4286c1;
	border-bottom:1px solid #4286c1;
	background:url(images/bg-slideshow.png) repeat;
}
#slider-inner{
	margin:0 auto;
	height:452px;
	width:1065px;
	position:relative;
}
.item-slider{
	height:424px;
	width:1065px;
	position:relative
}
.img-slider{
	float:left;
	width:496px;
	height:274px;
	margin:93px 0 0 30px;
}
.img-slider img{
	width:496px;
	height:274px;
}
.slogan{
	float:left;
	margin:133px 0 0 110px;
	width:400px;
}
.slogan h1{
	text-align:left;
	font-size:30pt;
	color:#FFFFFF;
	font-weight:200;
}
.slogan p{
	margin-top:30px;
	text-align:left;
	font-size:13pt;
	color:#dedede;
	line-height:25px;
}
.browse-template{
	float:left;
	width:157px;
	height:33px;
	border-radius:7px;
	border:1px solid #767676;
	margin:50px 0 0 110px;
	font-size:12pt;
	color:#ffffff;
	text-align:center;
	line-height:32px;
	background:url(images/btn-browse.png) repeat-x;
}
.browse-template span{
	float:left;
	margin-top:5px;
	width:100%;
}
.browse-template:hover{
	background:url(images/btn-browser-hover.png) repeat-x;
}
.pagination{
	margin:0 auto;
	list-style:none;
	text-align:center;
	width:-moz-fit-content;
}
.pagination li{
	display:inline;
}
.pagination li a{
	float:left;
	display:block;
	height:0;
	width:15px;
	overflow:hidden;
	padding-top:15px;
	margin-left:10px;
	background:url(images/bg-number-slide.png) no-repeat;
}
.pagination li:first-child a{
	margin-left:0;
}
.pagination li.current a{
	background:url(images/bg-number-slide-hover.png) no-repeat;
}
.pagination li a:hover{
	background:url(images/bg-number-slide-hover.png) no-repeat;
}
/*======================END-SLIDER==============================*/
/*======================Content==============================*/
#content{
	float:left;
	width:100%;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	background:url(images/bg-content-bottom.png) no-repeat bottom #f9f9f9;
}
#content-inner{
	margin:0 auto;
	width:1065px;
	min-height:360px;
}
#guide{
	padding-top:50px;
	background:url(images/bg-content.png) top no-repeat;
}
#guide h1{
	font-size:24pt;
	color:#514f4f;
	text-align:center;
	font-weight:200;
}
#guide h2{
	margin-top:15px;
	font-size:16pt;
	color:#727272;
	text-align:center;
	font-weight:200;
}
/*--------Step--------------*/
#step{
	float:left;
	width:100%;
	margin:60px 0 30px 50px;
}
.block-step{
	float:left;
	margin-right:25px;
	height:122px;
	min-width:268px;
}
.step-number{
	margin:0 auto;
	height:33px;
	width:93px;
	font-size:24pt;
	text-align:center;
	color:#bfbfbf;
	line-height:23px;
	border-bottom:1px solid #bfbfbf; 
}
.logo-step{
	float:left;
	margin-top:15px;
	width:63px;
	height:74px;
	position:relative;
}
.logo-step img{
	position:absolute;
	bottom:0;
}
.text-step{
	float:left;
	color:#514f4f;
	margin:40px 0 0 10px;
	font-weight:bold;
	font-size:14pt;
}
.arrow-step{
	float:left;
	width:20px;
	height:15px;
	margin:47px 0 0 24px;
	background:url(images/arrow-step.png) no-repeat;
}
.circle-step{
	float:left;
	width:79px;
	height:70px;
	margin-top:47px;
	background:url(images/circle-step-btn.png) no-repeat;
}
.circle-step p{
	font-size:18pt;
	color:#FFF;
	margin:25px 0 0 21px;
}
/*------End-Step--------------*/
#container-block{
	float:left;
	margin-left:20px;
	margin-bottom:70px;
}
.block{
	float:left;
	width:433px;
	min-height:129px;
	margin-top:54px;
}
.block:nth-child(odd){
	margin-right:130px;
}
.block:last-child{
	margin-right:0;
}
.block img{
	float:left;
	width:79px;
	height:70px;
	margin:0 17px 20px 0;
}
.content-block{
}
.content-block h1{
	font-weight:200;
	color:#acacac;
	font-size:16pt;
}
.content-block h1 a{
	color:#514f4f;
}
.content-block h2{
	font-size:10pt;
	color:#acacac;
	font-weight:200;
}
.content-block p{
	float:left;
	font-size:11pt;
	color:#58585a;
}
.content-block p:first-letter{
	margin-left:36px;
}
.line-block{
	float:left;
	margin:7px 0;
	width:280px;
	border-top:2px solid #70b700;
}
.line{
	float:left;
	height:1px;
	width:100%;
	margin-top:50px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}
/*======================End-Content==============================*/
/*=========================Footer================================*/
#footer{
	float:left;
	min-height:360px;
	width:100%;
	background:url(images/bg-footer.png) repeat;
}
#footer-inner{
	margin:0 auto;
	width:1065px;
	min-height:360px;
}
#content-footer{
	margin-top:44px;
}
.block-footer{
	float:left;
	margin-left:28px;
	width:245px;
	color:#9d9d9d;
}
.block-footer:first-child{
	margin-left:0;
}
.block-footer h1{
	font-size:14pt;
	font-weight:200;
	margin-bottom:20px;
}
.block-footer h2{
	font-size:14pt;
	font-weight:200;
	margin-bottom:12px;
	margin-top:30px;
}
.block-footer p{
	font-size:10pt;
	text-align:justify;
}
.block-footer p span{
	color:#127cff;
}
.block-footer > ul{
	list-style:none;
}
.block-footer > ul > li{
	float:left;
	width:100%;
	margin-top:15px;
	background:url(images/footer-line.png) no-repeat bottom;
}
.block-footer > ul > li:first-child{
	margin-top:0;
}
.block-footer > ul > li:last-child{
	background:none;
}
.block-footer > ul > li > a{
	float:left;
	color:#127cff;
	font-size:10pt;
	margin-bottom:10px;
	padding-left:23px;
	background:url(images/arrow-footer.png) left top 6px no-repeat;
}
#social-netowrk ul{
	list-style:none;
}
#social-netowrk ul li{
	float:left;
	width:26px;
	height:26px;
	margin-right:5px;
}
#social-netowrk ul li:last-child{
	margin-right:0;
}
#social-netowrk ul li a{
	float:left;
	width:26px;
	height:26px;
}
#author{
	float:left;
	width:100%;
	height:66px;
	margin-top:5px;
	background:url(images/bg-footer-bottom.png) top center no-repeat;
}
#author p{
	font-family:Arial;
	color:#FFFFFF;
	font-size:9pt;
	margin-top:48px;
}
#coppyright{
	float:left;
	margin-left:90px;
}
#disigner{
	float:right;
	margin-right:120px;
}
/*=========================End-Footer==============================*/
/*===========================Seo-Page==============================*/
/*-------------Content-slider-----------*/
#description{
	margin:0 auto;
	height:92px;
	width:1065px;
}
#description h1{
	float:left;
	color:#FFFFFF;
	font-size:32pt;
	font-weight:200;
	margin-top:20px;
}
/*-----------content------------*/
.introduce-seo{
	margin-top:60px;
	font-size:12pt;
	color:#6b6b6b;
	text-align:justify;
}
.introduce-seo:first-letter{
	margin-left:36px;
}
#table-diagram{
	margin:40px auto 0;
	width:516px;
	height:264px;
	border:1px solid #cfcfcf;
	border-top:4px solid #cfcfcf;
}
.seo-line{
	margin:75px auto 0;
	width:93%;
	height:2px;
	background:#d4d4d4;
}
#text-cost-seo{
	margin-top:30px;
}
#text-cost-seo h1{
	color:#515151;
	font-size:18pt;
	font-weight:200;
}
#text-cost-seo p{
	color:#909090;
	font-size:10pt;
}


/*Table*/
#table-seo{
	margin-top:35px;
	margin-bottom:50px;
}
.package{
	border: 1px;
	border-collapse:collapse;
	width: 1063px;
}
.package tr td{
	height: 56px;
	line-height: 56px;
	text-align: center;
	border: 1px solid #c3c3c3;
	border-style: none dashed dashed dashed;
}
.package tr td h3{
	float:left;
	width:100%;
	height:39px;
	margin-top:17px;
	font-size:14pt;
	color:#FFFFFF;
	font-weight:200;
	line-height:14px;
}
.package tr td h3 span{
	font-size:10pt;
}
.package tr td h5{
	font-size:14pt;
	color:#404040;
	font-weight:200;
}
.package tr td .red{
	font-size:16pt;
	color:#b20000;
	font-weight:200;
}
.package tr td p
{
	float:left;
	width:100%;
	text-align:center;
	line-height:16px;
	font-size:11pt;
}
.package tr td:first-child{
	border-left:1px solid #c3c3c3;
}
.package tr td:last-child{
	border-right:1px solid #c3c3c3;
}
.package tr td.row-white{
	width: 273px;
}
.package tr.row-1{
	background:url(images/bg-head-table.png) repeat;
}
.package tr.row-1 td{
	border:none;
	background:url(images/border-head-table.png) no-repeat;
	background-position:right;
	color: #FFF;
	font-size:16pt;
}
.package tr.row-1 td span{
	width:100%;
}
.package tr.row-1 td:first-child{
	background:#F9F9F9;
	border-right:1px solid #004892;
	border-bottom:1px solid #c3c3c3;
	border-style: none solid solid none;
}
.package tr.row-gray td{
	background: #e0e0e0;
}
.package tr.row-gray td{
	background:#e0e0e0;
}
.package tr.middle td{
	border:none;
	background:url(images/bg-title-table.png) no-repeat;
	text-align: left;
	font-size:18pt;
	color:#FFFFFF;
	line-height:18pt;
	padding-left:30px;
}
.package tr.last-row td{
	border-bottom:none;
}
.package tr.last-cell td{
	border:1px solid #c3c3c3;
	border-style:solid dashed solid dashed;
}
.package tr.last-cell td:first-child{
	border-style:solid solid none none;
}
.package tr.last-cell td:last-child{
	border-right:1px solid #c3c3c3;
}
.col-1{
	width:270px;
}
.tick{
	background:url(images/tick.png) no-repeat center;
	height:24px;
	width:100%;
	float:left;
}
.cross{
	background:url(images/cross.png) no-repeat center;
	height:24px;
	width:100%;
	float:left;
}
.order{
	float:left;
	height:30px;
	width:157px;
	border-radius:5px;
	margin-left:20px;
	font-size:13pt;
	line-height:31px;
	color:#FFFFFF;
	border:1px solid #767676;
	background:url(images/bg-btn-table.png) repeat-x;
}
.order:hover{
	border:1px solid #ff852c;
	background:url(images/bg-btn-table-hover.png) repeat-x;
}
/*--Note Seo--*/
#note-seo{
	margin-bottom:130px;
	font-size:11pt;
	color:#b30000;
}
/*===========================End-Seo-Page==========================*/
/*===========================Customize-Page==========================*/
#left-customize{
	float:left;
	width:590px;
	margin-top:80px;
	margin-bottom:200px;
}
#descripton-customize{
	font-size:10pt;
	color:#6b6b6b;
	text-align:justify;
}
#descripton-customize:first-letter{
	margin-left:37px;
}
.line-customize{
	float:left;
	width:100%;
	height:1px;
	margin-top:60px;
	border-top:1px solid #d4d4d4;
}
/*Form-customize--*/
#customize-form{
	float:left;
	margin-top:30px;
}
#customize-form input[type="text"]{
	float:left;
	margin-top:7px;
	width:200px;
	height:30px;
	border:1px solid #bfc1c1;
	color:#afaeae;
	font-size:10pt;
	padding-left:3px;
}
#customize-form input[type="submit"]{
	width:153px;
	height:30px;
	background:url(images/bg-btn-table.png) repeat-x;
	border:1px solid #686868;
	border-radius:5px;
	color:#e0e0e0;
	font-size:11pt;
	margin:70px 0 0 130px;
}
#customize-form input[type="submit"]:hover{
	border:1px solid #ff7815;
	background:url(images/bg-btn-table-hover.png) repeat-x;
}
#upload-file{
	display:none;
}
#customize-form .block-form-customize:first-child{
	margin-top:0;
}
.block-form-customize{
	margin-top:15px;
}
.block-form-customize img{
	margin-left:34px;
}
.text-form{
}
.block-form-customize p.title-form-customize{
	font-size:11pt;
	color:#838383;
}
.block-form-customize p.cost-customize{
	width:155px;
	text-align:right;
	color:#167eff;
	font-size:11pt;	
}
.upload-text{
	float:left;
	margin:0 0 0 34px;
	color:#838383;
	font-size:10pt;
	line-height:36px;
}
#right-customize{
	float:right;
	width:442px;
	margin-top:28px;
}
.template{
	width:442px;
	height:435px;
	background:#FFFFFF;
	border-radius:5px;
	border:1px solid #e6e6e6;
}
.template img{
	padding:6px;
	width:430px;
	height:422px
}
#change-template{
	margin:20px 0 0 150px;
	width:157px;
	height:30px;
	border-radius:5px;
	border:1px solid #636363;
	color:#FFF;
	font-size:13pt;
	background:url(images/bg-btn-table.png) repeat-x;
}
#change-template:hover{
	border:1px solid #ff7815;
	background:url(images/bg-btn-table-hover.png) repeat-x;
}
#money-back{
	margin-top:80px;
}
#money-back h1{
	color:#3a3a3a;
	font-size:14pt;
}
#money-back p{
	margin-top:20px;
	font-size:10pt;
	color:#777777;
	text-align:justify;
}
#money-back p:first-letter{
	margin-left:36px;
}

.overlay{
    background:transparent url(images/bg-overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
	display:none;
}
.box{
    position:fixed;
	display:none;
    left:25%;
	margin-top:250px;
    background-color:#fff;
    border:5px solid #0073ff;
	border-radius:10px;
    z-index:101;
	width:625px;
}
#container-box{
	float:left;
	width:535px;
	height:414px;
	margin:36px;
}
#container-box h1{
	color:#626161;
	font-size:14pt;
	text-align:center;
	font-weight:200;
}
#container-box h2{
	float:left;
	width:100%;
	color:#626161;
	font-size:14pt;
	text-align:center;
	font-weight:200;
	margin-top:30px;
}
.line-box{
	float:left;
	width:100%;
	margin-top:19px;
	height:1px;
	border-top:1px solid #d9d9d9;
}
.sign-social{
	margin-top:34px;
}
.sign-social p{
	float:left;
	color:#626161;
	font-size:11pt;
	line-height:26px;
	margin-right:33px;
}
.facebook-btn{
	width:150px;
	height:22px;
	border:none;
	margin-right:17px;
	background:url(images/facebook-btn.png) no-repeat;
}
.twitter-btn{
	width:150px;
	height:22px;
	border:none;
	background:url(images/twitter-btn.png) no-repeat;
}
#form-signin-area{
	float:left;
	margin:36px 0 0 68px;
	width:279px;
	height:170px;
	position:relative;
}
.triagle{
	float:left;
	background:url(images/triagle.png) no-repeat center;
	height:14px;
	width:21px;
	top:-10px;
	left:127px;
	position:absolute;
}
#form-sign-in{
	border-radius:10px;
	width:279px;
	height:160px;
	border:1px solid #d0d0d0;
}

.block-sign-in{
	margin-left:20px;
	margin-top:14px;
}
.block-sign-in p{
	color:#0073ff;
	font-size:10pt;
}
#form-sign-in input[type='text']{
	width:235px;
	height:25px;
	border:1px solid #d0d0d0;
	box-shadow:3px 3px 5px 2px #f1f1f1 inset;
}
#form-sign-in input[type='submit']{
	float:right;
	border:none;
	width:79px;
	height:22px;
	margin-top:15px;
	margin-right:22px;
	font-size:10pt;
	color:#FFFFFF;
	line-height:20px;
	padding-bottom:3px;
	text-align:center;
	background-color:#006cff;
}
.register-social{
	float:left;
	margin-top:22px;
	margin-left:100px;
}
/*===========================End-Customize-Page=======================*/
/*===========================Browse-Template==========================*/
#top-browse-template{
	height:50px;
	background:url(images/top-content-browse.png) no-repeat;
}
.side-column{
	float:left;
	width:200px;
}
.middle-column{
	float:left;
	width:595px;
	margin-left:25px;
	margin-right:25px;
}
.side-column > h1,.middle-column  > h1{
	color:#514f4f;
	font-size:16pt;
	font-weight:200;
	margin-bottom:25px;
}
.side-column ul{
	margin-left:14px;
	list-style-image:url(images/arrow-simple.png);
}
.side-column ul li{
	
}
.side-column ul li a{
	font-size:10pt;
	color:#2f79ce;
}
.side-column ul li a:hover{
	text-decoration:underline;
}
/*Form Search Template--------*/
#search-template{
}
#search-template select,#search-template input[type="text"]{
	height:21px;
	width:152px;
	margin-left:18px;
	border:1px solid #bfc1c1;
	font-size:11pt;
	color:#838383;
	padding-left:3px;
}
#search-template select option{
		padding-left:3px;
}
#search-template input[type="text"]{
	width:159px;
}
#container-search{
	float:left;
	width:250px;
	margin-left:30px;
}
.block-search-template{
	float:left;
	margin-top:10px;
}
.block-search-template p{
	float:left;
	font-size:11pt;
	color:#838383;
	line-height:20px;
	text-align:right;
	width:67px;
}
.money-form{
	float:left;
	width:170px;
	margin-left:12px;
	font-size:11pt;
	color:#838383;
}
.money-form input[type="text"]{
	width:57px !important;
	margin-left:0 !important;
}
.money-form input[type="text"]:first-child{
	margin-right:11.5px;
}
#search-template input[type="submit"]{
	width:97px;
	height:30px;
	float:right;
	border:1px solid #767676;
	border-radius:5px;
	font-size:13pt;
	color:#FFFFFF;
	cursor:pointer;
	margin-top:30px;
	margin-right:35px;
	background:url(images/bg-btn-table.png) repeat-x;
}
#search-template input[type="submit"]:hover{
	border:1px solid #ff852c;
	background:url(images/bg-btn-table-hover.png) repeat-x;
}
#featured-templates{
	float:left;
	width:100%;
	margin-top:40px;
	margin-bottom:100px;
}
#featured-templates > h1{
	color:#514f4f;
	font-size:16pt;
	font-weight:200;
	margin-bottom:10px;
}
.page-number{
	float:left;
	width:100%;
}
.page-number-second{
	margin-top:50px;
}
.page-number ul{
	list-style:none;
	text-align:center;
}
.page-number ul li{
	display:inline;
	margin-right:2px;
}
.page-number ul li a{
	font-size:10pt;
	color:#514f4f;
}
.page-number ul li a:hover{
	text-decoration:underline;
}
#container-template{
	float:left;
}
#container-template .block-template:nth-child(3n+1){
	margin-left:0;
}
.block-template{
	float:left;
	width:162px;
	height:227px;
	border:1px solid #c7c7c7;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:25px 0 0 45px;
}
.container-block-template{
	float:left;
	width:145px;
	margin:9px 0 0 9px;
}
.container-block-template img{
	width:145px;
	height:142px;
}
.content-template{
	margin-top:14px;
}
.content-template a,.content-template p{
	font-size:9pt;
	color:#4a5983;
	text-decoration:underline;
}
.content-template p{
	float:left;
	text-decoration:none !important;
}
.content-template a:hover{
	text-decoration:none;
}
.customize{
	float:left;
}
.preview{
	float:right;
}
.line-block-template{
	float:left;
	height:1px;
	width:100%;
	margin-top:6px;
	border-top:1px solid #cccccc;
}
/*===========================End-Browse-Template======================*/
/*===============================Template============================*/
#template-fearture{
	float:left;
	width:1062px;
	height:424px;
	background:url(images/bg-template-fearture.png) no-repeat;
	margin-bottom:20px;
}
#top-template{
	background: url("images/top-content-browse.png") no-repeat;
    height: 20px;
	margin-top:-1px;
}
#template-image{
	float:left;
	margin:15px 0 0 13px;
	width:472px;
	height:394px;
}
#template-image img{
	width:472px;
	height:394px;
}
#content-template{
	float:left;
	width:540px;
	height:395px;
	margin:13px 0 0 24px;
}
#content-template h1{
	font-family:Myriad Pro;
	font-size:15pt;
	color:#514f4f;
}
#content-template p{
	font-family:Myriad Pro;
	font-size:9pt;
	color:#000;
}

#content-template a{
	text-decoration:none;
	color:#3265a4;
	margin-right:10px;
}
.title{
	font-family:Myriad Pro;
	font-size:15pt;
	color:#514f4f;
}
#price-box-area{
	margin-top:12px;
}
.price-box{
	float:left;
	width:264px;
	height:123px;
	margin-right:3px;
	background:url(images/brow-box.png) no-repeat;
}
.price-box-blue{
	float:left;
	width:264px;
	height:123px;
	margin-right:3px;
	background:url(images/blue-box.png) no-repeat;
}
#price-box-area .price-box:last-child{
	margin-right:0;
}
.price-box-content{
	margin:23px 14px 0 18px;
	color:#FFF;
	font-size:10pt;
}
.price-box-content input{
	margin-right:3px;
}
.customize-service{
	float:left;
	margin-top:15px;
	width:1066px;
	height:90px;
	background:url(images/customize-service-bg.png) no-repeat;
}
.customize-service-last{
	margin-bottom:15px;
}
.customize-service-content{
	margin:15px 0 0 22px;
}
.customize-service:last-child{
	margin-bottom:13px;
}
.customize-service-content p{
	float:left;
	margin-right:20px;
	margin-top:12px;
	font-size:11pt;
	font-family:Myriad Pro;
}
.customize-service-content p input{
	margin-right:10px;
}
.customize-service-content p span{
	color:#3366a4;
}
#tab{
	float:left;
	width:1068px;
	height:281px;
	margin-top:15px;
	position:relative;
}
#tab-button-area{
	width:1068px;
	height:62px;
	z-index:100;
	position:absolute;
	top:0;
	left:0;
}
#content-tab{
	height:234px;
	width:1068px;
	z-index:200;
	position:absolute;
	bottom:0;
	left:0;
}
.btn-tab{
	float:left;
	width:149px;
	height:62px;
	margin-right:4px;
	cursor:pointer;
	background:url(images/brow-btn.png) no-repeat;
}
.btn-tab span{
	float:left;
	width:100%;
	font-size:11pt;
	margin-top:18px;
	color:#FFF;
	text-align:center;
	font-family:Myriad Pro;
}
#tab-button-area .btn-tab:last-child{
	margin-right:0;
}
.general-tab{
	width:1068px;
	height:168px;
	background:url(images/bg-general.png) no-repeat;
}
.other-tab{
	width:1068px;
	height:234px;
	background:url(images/bg-tab.png) no-repeat;
}
.active{
	background:url(images/blue-btn.png) no-repeat !important;
}
.general-column-1{
	float:left;
	width:381px;
	height:168px;
	background:url(images/sidebar-comlumn-general.png) center right no-repeat;
}
.general-column-2{
	float:left;
	width:407px;
	height:168px;
	background:url(images/sidebar-comlumn-general.png) center right no-repeat;
}
.general-column-3{
	float:left;
}
.container-content-column-1{
	float:left;
	width:348px;
	height:60px;
	margin:46px 0 0 24px;
}
.container-content-column-1 > div{
	width:268px;
	float:left;
}
.container-content-column-1 p{
	float:left;
	width:56px;
}
.container-content-column-1 button{
	float:left;
	margin-left:3px;
}
.tab-p{
	color:#504e4e;
	font-size:11pt;
	font-weight:600;
	font-family:Myriad Pro;
}
.input-tab{
	height:25px;
	width:198px;
	padding-left:10px;
	border-radius:5px;
	border:1px solid #bfc1c1;
	font-size:10pt;
	color:#504e4e;
}
.last-label{
	margin-top:10px;
}
.browse-btn{
	width:77px;
	height:24px;
	border:none;
	font-size:10pt;
	color:#FFF;
	font-family:Myriad Pro;
	text-align:center;
	background:url(images/btn-browse-tab.png) no-repeat;
}
.container-content-column-2{
	margin:50px 0 0 20px;
}
.container-content-column-2 p{
	margin-bottom:10px;
}
.menu-link-input{
	border-radius:5px;
	border:1px solid #bfc1c1;
	height:25px;
	width:363px;
	margin-top:4px;
	padding-left:15px;
	font-size:10pt;
	color:#504e4e;
}
.container-content-column-3{
	margin:40px 0 0 20px;
}
.container-content-column-3 p{
	margin-bottom:15px;
}
.block-social{
	margin-bottom:2px;
}
#facebook-account{
	float:left;
	width:17px;
	height:17px;
	background:url(images/facebook-account.png) no-repeat;
	margin-top:5px;
	margin-right:5px;
}
#twitter-account{
	float:left;
	width:17px;
	height:17px;
	background:url(images/twitter-account.png) no-repeat;
	margin-top:5px;
	margin-right:5px;
}
.home-column-1{
	float:left;
	margin:45px 0 0 25px;
}
.home-column-1 p{
	float:left;
	width:90px;
	padding-top:5px;
	margin-right:5px;
}
.home-textarea{
	width:355px;
	height:127px;
	border-radius:5px;
	border:1px solid #bfc1c1;
	margin-top:7px;
}
.home-column-2{
	float:left;
	margin:45px 0 0 55px;
}
.home-column-2 p{
	float:left;
	width:120px;
	padding-top:5px;
	margin-right:5px;
	text-align:right;
}
.about-column-1{
	float:left;
	width:970px;
	margin:45px 0 0 24px;
}
.about-column-1 div{
	float:left;
}
.about-column-1 p{
	float:left;
	width:95px;
	padding-top:5px;
}
.about-column-1 span{
	float:left;
}
.about-textarea{
	width:870px;
	height:127px;
	border-radius:5px;
	border:1px solid #bfc1c1;
	margin-top:7px;
}
.title-about{
	width:516px !important;
}
.about-p{
	width:45px !important;
	margin-left:10px;
}
.photo-column-1{
	float:left;
	width:482px;
	height:232px;
	background:url(images/sidebar-comlumn-general.png) right center no-repeat;
}
.content-photo-column-1{
	float:left;
	margin:20px 0 0 21px;
}
.content-photo-column-1 div{
	margin-bottom:3px;
}
.content-photo-column-1 p{
	float:left;
	margin-right:5px;
	text-align:right;
	width:95px;
	padding-top:3px;
}
.content-photo-column-1 a{
	float:right;
	color:#507cb1;
	font-size:10pt;
	margin-right:10px;
	text-decoration:underline;
}
.photo-column-2{
	float:left;
	width:482px;
	height:232px;
}
.content-photo-column-2{
	float:left;
	margin:20px 0 0 21px;
}
.content-photo-column-2 div{
	margin-bottom:3px;
}
.content-photo-column-2 p{
	float:left;
	margin-right:5px;
	text-align:right;
	width:95px;
	padding-top:3px;
}
.content-photo-column-2 a{
	float:right;
	color:#507cb1;
	font-size:10pt;
	text-decoration:underline;
		margin-right:10px;

}
.content-photo-column-2 input{
	margin-right:12px;
}
.more{
	padding-right:5px;
	border-right:1px solid #507cb1
}
.another{
	padding-left:5px;
}
.content-photo-column-1 input{
	margin-right:12px;
}
.input-gallery-title{
	width:287px !important;
}
.label-title-gallery{
	margin-bottom:10px !important;
}
.testimonials-column-1{
	float:left;
	width:517px;
	height:232px;
	background:url(images/sidebar-comlumn-general.png) right center no-repeat;
}
.testimonials-container{
	margin:30px 0 0 40px;
}
.testimonials-container textarea{
	height:102px;
	padding-left:10px;
	border: 1px solid #BFC1C1;
    border-radius: 5px 5px 5px 5px;
}
.testimonials-container p{
	float:left;
	width:85px;
	margin-right:6px;
	text-align:right;
	padding-top:3px;
}
.testimonials-container a{
	float:right;
	color:#507cb1;
	font-size:10pt;
	text-decoration:underline;
	margin-right:90px;
}
.testimonials-column-2{
	float:left;
	width:517px;
	height:232px;
}
.testimonials-container div{
	margin-bottom:4px;
}
.testimonials-container button{
	margin-left:4px;
}
.contact-column-1{
	float:left;
	width:517px;
	height:232px;
}
.input-contact{
	width:277px !important;
}
#save{
	width:206px;
	height:32px;
	text-align:center;
	color:#FFF;
	font-size:10pt;	
	border:none !important;
	line-height:5px;
	margin:20px 0 60px 426px;
	background:url(images/save-btn.png) no-repeat;
}
